/* Desktop Styles */

@media only screen and (min-width: 1365px) {
    /* For Desktop-SMALLER: */
    .listOfSongsOuter{
        padding: 0px 0 0 24px;
        float: left;
        height: 200px;
    }
    
    .youtubeScreenOuter{
        padding: 0px 24px 0 0;
        float: right;
        height: 200px;
    }

    .reserveContainer{
        overflow-y: scroll;
        height: 36px;
        width: 916px;
    }
    
    .inprogress{
        display: none;
    }
    
}

@media only screen and (min-width: 1550px) {
    /* For Desktop-MEDIUM: */
    .listOfSongsOuter{
        padding: 0px 0 0 70px;
        float: left;
        height: 200px;
    }
    
    .youtubeScreenOuter{
        padding: 0px 80px 0 0;
        float: right;
        height: 200px;
    }

    .reserveContainer{
        overflow-y: scroll;
        height: 36px;
        width: 916px;
    }

    .inprogress{
        display: none;
    }
    
}
  
/* Mobile Styles */
@media only screen and (max-width: 1364px) {
    /* For Mobile: */
    .listOfSongsOuter, .youtubeScreenOuter{
        display: none;
    }

    .inprogress{
        color: white;
        text-shadow: 1px 1px 12px rgb(255, 152, 18), 1px 1px 12px rgb(255, 230, 0);
        display: block;
    }
}

/* If Height is too short, then block */
@media only screen and (max-height: 767px) {
    /* For Mobile: */
    .listOfSongsOuter, .youtubeScreenOuter{
        display: none;
    }

    .inprogress{
        color: white;
        text-shadow: 1px 1px 12px rgb(255, 152, 18), 1px 1px 12px rgb(255, 230, 0);
        display: block;
    }
}

/* Common Styles for both Desktop and Mobile */
.noraebang{
    background-color: rgb(8, 8, 8);
    z-index: -1;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%; 
}

.noraebangHeader{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 12px rgb(255, 152, 18), 1px 1px 12px rgb(255, 230, 0);
    animation: noraebangHeaderAnimation 4s infinite;
}

@keyframes noraebangHeaderAnimation {
    0%{
        text-shadow: 1px 1px 12px rgb(255, 152, 18), 1px 1px 12px rgb(255, 230, 0);
    }
    50%{
        text-shadow: 1px 1px 12px rgb(255, 18, 129), 1px 1px 12px rgb(252, 60, 133);
    }
    100%{
        text-shadow: 1px 1px 12px rgb(255, 152, 18), 1px 1px 12px rgb(255, 230, 0);
    }
}

.noraebang h2{
    text-align: center;
}

.youtubeScreen{
    border-radius: 8px;
    padding: 8px;
    animation: borderAnimation1 2s infinite;
}

@keyframes borderAnimation1 {
    0%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 18px #ffcb69;
    }
    33%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 13px #ffcb69;
    }
    50%{
        border: 2px solid rgb(80, 176, 255);
        box-shadow: 0 0 8px #004bbd;
    }
    75%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 13px #ffcb69;
    }
    100%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 18px #ffcb69;
    }
}

.currentHeaderContainerContainer{
    padding-top: 8px;
}

.currentHeaderContainer{
    padding: 12px;
    border-radius: 8px;

    animation: borderAnimation2 6s infinite;
}

@keyframes borderAnimation2 {
    0%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 22px #ffcb69;
    }
    50%{
        border: 2px solid rgb(68, 255, 99);
        box-shadow: 0 0 10px #188d4d;
    }
    100%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 22px #ffcb69;
    }
}

.currentHeaderContainer:hover{
    color: rgb(182, 182, 182);
}

.playArrow{
    animation: arrowAnimation 4s infinite;
}

@keyframes arrowAnimation {
    0%{
        color: rgb(221, 255, 142);
        transform: rotate(0deg);
    }
    50%{
        color: rgb(255, 153, 0);
        transform: rotate(180deg);
    }
    100%{
        color: rgb(221, 255, 142);
        transform: rotate(0deg);
    }
}

.currentHeader{
    padding: 0 0 0 12px;
    color: rgb(221, 255, 142);
}

.currentHeaderTitle{
    color: rgb(160, 185, 102);
}

.cancelBtn{
    color: rgb(255, 121, 121);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
}

.cancelBtn:hover{
    color: rgb(255, 0, 119);
}

.reserveContainerContainer{
    padding-top: 30px;
}

.reserveContainer{
    padding: 10px;
    border-radius: 8px;
    animation: borderAnimation3 8s infinite;
}

@keyframes borderAnimation3 {
    0%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 18px #ffcb69;
    }
    50%{
        border: 2px solid rgb(170, 0, 71);
        box-shadow: 0 0 12px #ff1f69;
    }
    100%{
        border: 2px solid rgb(250, 189, 132);
        box-shadow: 0 0 18px #ffcb69;
    }
}

.reservedHeaderTitle{
    color: rgb(160, 185, 102);
}

.reserveBody{
    color: rgb(142, 172, 255);
}

.song-item-outer{
    padding: 0 6px 0 6px;
}

.song-item-inner{
    padding: 4px;
    color: rgb(253, 214, 106);
    text-shadow: 1px 1px 6px rgb(251, 255, 18), 1px 1px 6px rgb(136, 134, 3);
    
}

.song-item-inner:hover{
    color: rgb(231, 231, 231);
    text-shadow: 1px 1px 6px rgb(189, 192, 0), 1px 1px 6px rgb(255, 252, 55);
}