@media only screen and (min-width: 768px) {
    /* For Desktop: */
    .blog{
        text-align: center;
        transform: translateY(120%);
    }
}
  
  
@media only screen and (max-width: 768px) {
    /* For Mobile: */
    .blog{
        text-align: center;
        transform: translateY(20%);
        padding: 8px;
    }
}

.blogTextBody{
    color: rgb(27, 27, 27);
}