.tableContainer-sl{
  color: white;
  font-size: 18px;
  text-align: center;
  overflow-y: scroll;
  height: 680px;
}

.mytable-sl{
  border-collapse: collapse;
}

.mytable-sl th{
  background-color: rgb(44, 44, 44);
  padding: 4px 10px 4px 10px;
  color: rgb(228, 228, 228);
  text-shadow: 1px 1px 6px rgb(121, 121, 121), 1px 1px 6px rgb(153, 152, 153);
  font-size: 12px;
}

.mytable-sl td{
  border-bottom: 1px solid rgb(56, 56, 56);
  color: rgb(223, 173, 82);
  font-family: 'Gothic A1', sans-serif;
  font-size: 12px;
  padding: 6px 16px 6px 16px;
  background-color: rgb(14, 14, 14);
}

.mytable-sl tr:hover{
  background-color: rgb(172, 172, 172);
}

.mytable-sl tr:hover td{
  color: rgb(228, 228, 228);
  text-shadow:1px 1px 6px rgb(121, 121, 121), 1px 1px 6px rgb(153, 152, 153);
}

.reserve{
  color: rgb(223, 173, 82);
  border: 1px solid rgb(122, 97, 25);
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
}

/*
    Scroll Bar 
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(46, 46, 46);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 182, 87);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 70, 2);
}