@media only screen and (min-width: 768px) {
  /* For Desktop: */
  .navbar-nav{
    display: block;
  }
  .navbar-nav-s{
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  /* For Mobile: */
  .navbar-nav{
    display: none;
  }
  .navbar-nav-s{
    display: block;
  }
  .searchbar{
    display: none;
  }
}

.brandText{
  padding: 1em 2em 0 2em;
  float: left;
  color: white;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

.navbar{
  background-color: rgb(27, 27, 27);
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

.navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow:1px 1px 5px rgb(255, 99, 172), 1px 1px 5px rgb(255, 255, 255);
}

.navbar a:hover{
  color: rgb(195, 226, 255);
  text-shadow:1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

.navbar-nav{
  float: right;
}

.navbar-nav-s{
  float: right;
}

.navbar ul {
  text-align: center;
}

.navbar-nav li{
  display: inline;
  padding: 0px 24px 0px 24px;
  text-decoration: none;
}

.navbar-nav-s li{
  display: inline;
  padding: 0px 12px 0px 12px;
  text-decoration: none;
}

.switch-div{
  padding: 8em 0 10em 0;
}