h1{
  font-size: 36px;
}

.brand{
  background-color: rgb(27, 27, 27);
  color: white;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
  text-align: center;
  padding: 8px 0 1px 0;
  width: 100%;
  position: fixed;
}

.brandText:hover{
  color: rgb(182, 14, 117);
  text-shadow:1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(194, 9, 111);
}

.navbar{
  background-color: rgb(27, 27, 27);
  width: 100%;
  position: fixed;
  top: 80px;
}

.navbar ul {
  text-align: center;
}

.navbar-nav li{
  display: inline;
  padding: 0px 28px 0px 28px;
  text-decoration: none;
}

.navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow:1px 1px 5px rgb(255, 99, 172), 1px 1px 5px rgb(255, 255, 255);
}

.navbar a:hover{
  color: rgb(195, 226, 255);
  text-shadow:1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

.nav-link{
  font-size: 20px;
}

.switch-div{
  padding-top: 15em;
}