/* 
 *  Desktop screen Elements
 */
@media only screen and (min-width: 768px) {
  .navbar{
    display: block;
  }
  .navbar-s{
    display: none;
  }
}

.brandText{
  padding: 12px 0px 12px 36px;
  float: left;
  font-family: 'Gaegu', cursive;
  color: white;
  font-size: 20px;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

.navbar{
  background-color: rgb(27, 27, 27);
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 50px;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar a:hover{
  color: rgb(195, 226, 255);
  text-shadow:1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

.navbar-ul{
  float: right;
}

.navbar-ul li{
  display: inline;
  padding: 0px 24px 0px 24px;
}

.nav-selected{
  padding-bottom: 16px;
  border-bottom: 4px solid rgb(180, 215, 255);
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

/* 
 *  Mobile screen Elements
 */
@media only screen and (max-width: 768px) {
  .navbar{
    display: none;
  }
  .navbar-s{
    display: block;
  }
}

.hamburger{
  float: right;
  padding: 4px 24px 0px 0px;
  
  color: rgb(197, 197, 197);
  font-size: 22px;
}

.hamburger:hover{
  color: white;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

.brandText-s{
  float: left;
  padding: 10px 0px 0px 20px;
  font-family: 'Gaegu', cursive;
  color: white;
  font-size: 20px;
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

.navbar-s{
  width: 100%;
  position: fixed;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 10px;
  padding-bottom: 4px;
}

.navbar-s a{
  text-decoration: none;
  color: white;
}

.navbar-s a:hover{
  color: rgb(195, 226, 255);
  text-shadow:1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

.navbar-s-ul li{
  display: none;
  list-style: none;
  padding: 4px 0 4px 0;
}

.navbar-s-ul-open li{
  display: block;
  list-style: none;
  padding: 4px 0 4px 0;
}


.nav-selected-s{
  border-bottom: 2px solid rgb(180, 215, 255);
  text-shadow:1px 1px 10px rgb(255, 99, 172), 1px 1px 10px rgb(194, 9, 111);
}

/* 
 *  Non-Nav elements
 */

.switch-div{
  padding: 6em 0 10em 0; /* this is for content padding - top and bottom: do not delete/modify! */
}