body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

footer{
  text-align: center;
  font-size: 10px;
  color: rgb(187, 187, 187);
  left:0;
  bottom:0;
  right:0;
  position: fixed;
  background-color: rgb(27, 27, 27);
}